$colorShark: #1f2022;
$colorAlto: #d3d3d3;
$colorEbonyClay: #22303c;
$colorWhite: #ffffff;
$colorRoyalBlue: #4b57db;
$colorGoldenGrass: #d9a622;
$colorPunch: #db3925;
$colorWhite: #ffffff;
$colorBaliHai: #7a94a9;
$colorGray: #919191;
$colorBlack: #010101;
$colorGray: #808080;
$colorTundora: #414141;
$colorSilver: #c9c9c9;
$colorSatinLinen: #e1e1cc;
$colorOliveGreen: #b3b34f;

$borderRadiusDefault: 6px;

$transitionTimeFast: 0.2s;
$transitionTimeMedium: 0.4s;

$hoverDarkenAmountDefault: 20%;

$fontSizeDefault: 14px;
